<section>
    <img src="/assets/baletta.png">
    <div class="list">
        <div class="link update-menu" (click)="this.router.navigate(['/menu'])">Modificar menu</div>
        <div class="link orders" (click)="this.router.navigate(['/orders'])">Llistat comandes</div>
        <div class="link kitchen" (click)="this.router.navigate(['/kitchen'])">Cuina</div>
        <div class="link shift" (click)="this.router.navigate(['/shifts'])">Horari</div>
    </div>
    <img src="/assets/logo_baletta.png">
</section>
